<link rel="stylesheet" href="/css/customer.css">
<div class="box">
    <form role="form" name="customerForm" ng-submit="register()">
        <div class="box-input">
            <input type="text" ng-model="customer.firstName">
        </div>
        <!-- <div class="placeholder">Last Name</div> -->
        <div class="box-input">
            <input type="text" ng-model="customer.lastName">
        </div>
        <div class="box-input">
            <input type="text" ng-model="customer.username">
        </div>
        <div class="box-input">
            <input type="text" ng-model="customer.password">
        </div>
        <div class="box-input">
            <input type="text" ng-model="customer.email">
        </div>





        <!-- <input type="text" ng-model="customer.companyName"><br><br>
        <input type="text" ng-model="customer.address"><br><br>
        <input type="text" ng-model="customer.city"><br><br>
        <input type="text" ng-model="customer.region"><br><br>
        <input type="text" ng-model="customer.postlaCode"><br><br>
        <input type="text" ng-model="customer.phone"><br><br> -->
        <!-- <input type="submit" value="Submit"> -->
    </form>
</div>