<link rel="stylesheet" href="/css/menu.css">
<div class='header'>

    <div class="header__search">
        <input class="header__searchInput" type="text" />
        <!-- <SearchIcon class="header__searchIcon" /> -->
    </div>

    <div class="header__nav">
        <div class="header__option">
            <span class='header__optionLineOne'>Returns</span>
            <span class='header__optionLineTwo'>& Orders</span>
        </div>

        <div class="header__option">
            <span class='header__optionLineOne'>Hello, Sign In</span>
            <span class='header__optionLineTwo'>Accounts</span>
        </div>

        <div class="header__optionBasket">
            <!-- <ShoppingCartIcon /> -->
            <span class="header__optionLineTwo header__basketCount">0</span>
        </div>

    </div>
</div>

<div class="header__down">
    <div class="header__option">
        <span>All</span>
    </div>
</div>